<!-- Ponemos todo lo que queremos poner en el header -->

<header>
    <nav>
        <ul>
            <li>
                <a [routerLink]="['']">Inicio</a>
            </li>
            <li>
                <a [routerLink]="['/alumno']">Alumnos</a>
            </li>
            <li>
                <a [routerLink]="['/profesores']">Profesores</a>
            </li>
            <li>
                <a [routerLink]="['/alumno']">Asignaturas</a>
            </li>
            <li>
                <a [routerLink]="['/alumno']">Matricula</a>
            </li>
        </ul>

    </nav>
</header>